{% extends "base.html" %}
{% block title %}Fibonacci Productivity{% endblock %}
{% block content %}
<h1>Here is where we will have all our productivity!</h1>
<h2>Enter a new goal:</h2>
<h2>How many goals would you like to accomplish per day? </h2>
<h3>Here is where we will have the image that will gradually fill as each goal is accomplished per day.</h3>
<h3>Here is where we will track how many days you complete your goals</h3>
<p>Here is where we will show the goals that are to be accomplished this day. This will be determined by the answer to
the question above, "How many goals would you like to accomplish per day?"</p>
{% endblock %}